<html xmlns="http://www.w3.org/1999/xhtml" ng-app="AngularCalculator">
<head>
    <title>Four-Function Angular Calculator</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body ng-controller="calculatorController as cc">

    <div class="container">
        <div class="row">
            <h1>Simple Angular Calculator</h1>
            <div class="form-group">
                <input type="number" placeholder="firstNumber" ng-model="cc.firstNumber" />
                <input type="number" placeholder="secondNumber" ng-model="cc.secondNumber" />
            </div>
            <div>
                <button class="btn btn-sm btn-success"ng-click="cc.add()">+</button>
                <button class="btn btn-sm btn-danger" ng-click="cc.sub()">-</button>
                <button class="btn btn-sm btn-info" ng-click="cc.multiply()">x</button>
                <button class="btn btn-sm btn-warning" ng-click="cc.divide()">/</button>
            </div>
            <div class="resultDiv">
                <input type="text" placeholder="resultNumber" value="{{cc.result}}" disabled />
            </div>
        </div>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/ngApp/app.js"></script>
</body>
</html>